[submodule "remote-state/root/.fenna/backends"]
	path = remote-state/root/.fenna/backends
	url = git@github.com:itsnotphair/aws-backends.git
[submodule "organizations/.fenna/backends"]
	path = organizations/.fenna/backends
	url = git@github.com:itsnotphair/aws-backends.git
[submodule "access-control/.fenna/backends"]
	path = access-control/.fenna/backends
	url = git@github.com:itsnotphair/aws-backends.git
[submodule "remote-state/infra/.fenna/backends"]
	path = remote-state/infra/.fenna/backends
	url = git@github.com:itsnotphair/aws-backends.git
